  .cart-item  {
    display: flex;
    margin-top: 20px;
    transition: all .1s;
    box-shadow: 0px 2px 2px;
    cursor: pointer;
    .high-params {
      display: flex;
      justify-content: space-between;
    }
    &:hover {
      box-shadow: 0px 5px 5px;

    }
    .cart-description {
      .name {
        font-size: 18px;
        font-weight: bold;
      }
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 70%;
    }
    .parameters {
      display: flex;
      justify-content: space-between;
      .price, .amount {
        color: $medium-green;
      }
    }
    .cart-picture {
      width: 100px;
      img {
        max-width: 100%;
      }
    }
  }
