.logo {
  width: 300px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 24px;
    a {
      color: $dark-green;
    }
  }
  img {
    width: 40px;
  }
}
.mobile-nav-trigger {
  margin-top: 35px;
  width: 30px;
  height: 30px;
  background-image: url("./assets/aligment.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: none;
}
.mobile-nav-slide {
  display: none;
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background: $header-color;
  top: 0;
  overflow-y: auto;
  opacity: .3;
  transform: translateX(120%);
  transition: all .5s ease-out;
  .close-slide {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 10px;
    background-image: url("./assets/closeicondark.png");
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    &:hover {
      background-image: url("./assets/closeiconlight.png");
    }
  }
}
.open {
  transform: translateX(0);
  opacity: 1;
}
.nav-items {
  .nav-item a{
    display: block;
    width: 100%;
    padding-top: 41px;
    padding-bottom: 41px;
    border-bottom: 1px solid silver;
    text-align: center;
    font-size: 18px;
  }
}


.nav-bar {
  margin-bottom: 70px;
  height: 100px;
  background-color: $header-color;
  box-shadow: 0px 2px 10px;
  .wrapper {
    display: flex;
    justify-content: space-between;
  }

  .nav ul{
    justify-content: flex-end;
    display: flex;
    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 200px;
      height: 100px;
      transition: background-color .3s;
      cursor: pointer;
      &:hover {
        background-color: $dark-green;
        a {
          color: #41B883;
        }
      }
      a {
        color: $dark-green;
        font-size: 18px;
        text-decoration: none;

      }
    }
  }
}
