@media screen and (max-width: 1200px) {
  .item {
    width: 41%;
  }
}

@media screen and (max-width: 1050px) {

  .nav-bar {
    margin-bottom: 30px;
    .nav {
      display: none;
    }
    .mobile-nav {
      display: block;
    }
  }
  .item {
    width: 40%;
  }
  .appearance {
    display: none;
  }
  .product-picture {
    width: 200px;
    align-self: center;
  }
  .left-sidebar {
    display: none;
  }
  .right-sidebar {
    display: none;
  }
  .content {
    justify-content: center;
  }
  .main-content {
    width: 90%;
  }
}
@media screen and (max-width: 750px) {
  .item-selected {
    .item-parameters p{
      width: 100%;
    }
  }
}
@media screen and (max-width: 620px) {
  .item-selected {
    .picture {
      margin: auto;
    }
    .parameters {
      flex-direction: column;
    }
    .item-parameters p {
      width: 100%;
    }
  }
}

@media screen and (max-width: 335px) {
  .item-selected {
    width: 90%;
  }
}

@media screen and (max-width: 700px) {
  .nav-bar {
    display: none;
  }
  .item {
    width: 90%;
  }
}
