.right-sidebar {
  .total-values {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
  }
  .clear-all {
    color: $light-red;
  }
  .total-price {

    font-weight: bold;
    font-size: 18px;
    span {
      color: $medium-green;
    }
  }
  .cart-items-wrapper {
    padding-bottom: 7px;
    max-height: 500px;
    overflow-y: auto;
  }
  h2 {
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 10px;
  }
}
